.list__form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: white;
    width: 360px;
    padding: 15px;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;

    button {
        cursor: pointer;
    }

    span {
        color: red;
        font-size: 0.8rem;
        position: relative;
        margin: -20px 0 20px 0;
        font-weight: 400;
    }
}

.list__form-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
        font-size: 0.8rem;
    }
    input {
        padding: 10px;
        margin-bottom: 20px;
    }
    input[type="submit"] {
        border: 0;
        border-radius: 5px;
        color: white;
        background-color: rgb(34, 139, 2);
        width: 50%;
        margin-top: 20px;
        align-self: center;
        cursor: pointer;
    }
    input[type="submit"]:disabled {
        background-color: gray;
        cursor: default;
    }
    textarea {
        height: 60px;
    }
}
