.wrapper {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.title {
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.list__wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.list__header {
    background-color: black;
    display: grid;
    grid-template-columns: 0.1fr 0.2fr 0.2fr 0.5fr;
    column-gap: 1rem;
    color: white;
    width: 100%;
    padding: 5px;

    span {
        overflow: hidden;
    }

    :last-child {
        text-align: end;
        padding-right: 10px;
    }
}

.list__item {
    display: grid;
    border-bottom: 1px solid gray;
    align-items: center;
    column-gap: 1rem;
    grid-template-columns: 0.1fr 0.2fr 0.2fr 0.5fr;
    width: 100%;
    padding: 5px;
    overflow: hidden;

    span {
        overflow: hidden;
    }

    :nth-child(4) {
        text-align: right;

        button {
            background-color: rgb(2, 149, 247);
            width: 32px;
            height: 32px;
            padding: 5px;
            color: white;
            border-radius: 4px;
            margin-left: 10px;
            margin: 5px 10px px 0px;
        }

        button:last-child {
            background-color: rgb(231, 18, 18);
        }
    }

    .list__form-wrapper {
        margin-top: 10px;
        color: white;
        width: 360px;
        padding: 15px;
        background-color: rgb(32, 32, 32);
        border-radius: 5px;
    }

    .list__form-edit {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        label {
            font-size: 0.8rem;
        }
        input {
            padding: 10px;
        }
        input[type="submit"] {
            border: 0;
            border-radius: 5px;
            color: white;
            background-color: rgb(34, 139, 2);
            width: 50%;
        }
    }
}
