.wrapper {
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    border: 1px solid rgb(221, 221, 221);
    padding: 10px;
    row-gap: 15px;
    width: 60%;
    button {
        margin: 20px auto;
        width: 100px;
        background-color: var(--green);
        border-radius: 5px;
        color: white;
        padding: 10px;
    }
}
